@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* START General */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  height: 100%;
}

body {
  background: #e0e1dd;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

/* END General */

/* START Navigation */
.nav-bar {
  background: #0d1b2a;
  color: #e0e1dd;
  padding: 0.5em 2em;
  flex-shrink: 0;
}

.nav-bar .nav-brand {
  color: #e0e1dd;
}

.nav-bar .nav-brand:hover {
  color: #e0e1dd;
}

.nav-bar .nav-brand:focus {
  color: #e0e1dd;
}

.nav-bar .nav-link {
  color:#e0e1dd !important;
}

/* END Navigation */

/* START Generic Container */
.container-generic {
  padding-top: 2vh;
  padding-bottom: 0vh;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow-wrap: break-word;
  max-width: 100%;
}

/* END Generic Container */